.centered-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&.has-background {
		background-color: transparentize($black-light, 0.1);
		backdrop-filter: blur(1px);
	}
}

.panel {
	$border-radius: 0.3rem;
	width: 100%;

	box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);

	.panel-header,
	.panel-body {
		padding: 1rem;
	}

	.panel-header {
		background-color: $primary;
		font-size: 1.3em;

		&:not(:last-child) {
			border-radius: $border-radius $border-radius 0 0;
		}
	}

	.panel-body {
		border-radius: $border-radius;
		background-color: $black-light;
		overflow: hidden;
		backdrop-filter: blur(20px);
		background-color: rgba(0, 0, 0, 0.5);

		&:last-child {
			border-radius: 0 0 $border-radius $border-radius;
		}
	}
}

table {
	$border-radius: 0.3rem;
	width: 100%;

	td,
	th {
		text-align: left;
		padding: 0.5rem;
	}

	thead {
		th,
		td {
			background-color: $primary;
		}

		*:first-child {
			border-radius: $border-radius 0 0 0;
		}

		*:last-child {
			border-radius: 0 $border-radius 0 0;
		}
	}

	tbody {
		td,
		th {
			background-color: $black-lighter;
			transition: all 0.1s ease-in-out;
		}

		tr:nth-child(even) {
			td,
			th {
				background-color: lighten($black-lighter, 4%);
			}
		}

		tr:last-child {
			*:first-child {
				border-radius: 0 0 0 $border-radius;
			}

			*:last-child {
				border-radius: 0 0 $border-radius 0;
			}
		}

		tr:hover {
			td,
			th {
				background-color: lighten($black-lighter, 10%);
			}
		}
	}
}