.title {
	font-size: 2em;
	font-family: $alt-font;
	font-weight: bold;

	color: $white-dark;
	line-height: 1;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.heading {
	font-size: 1.6em;
	font-weight: bold;
	color: $secondary;
}
