.alert {
	padding: 0.75em;
	border-radius: 0.3em;
	background-color: $grey-darker;

	p:not(:last-child) {
		margin-bottom: 1rem;
	}

	.close-button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0.2rem;
		right: 0;
		color: $white;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 0.3em 0 0 0.3em;
		padding: 0.2em;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&.is-bad {
		background-color: $red;
		color: $white;
	}
}
