.button {
	display: inline-flex;
	align-items: center;
	background-color: $grey-dark;
	border-radius: 0.3em;
	padding: calc(0.75em - 1px) calc(1em - 1px);
	box-shadow: none;
	transition: all 0.1s ease;
	color: inherit;
	cursor: pointer;

	& > *:not(:last-child),
	& > .ui-icon {
		margin-right: 0.25rem;
	}

	&:hover {
		background-color: lighten($grey-dark, 4%);
	}

	&.is-small {
		font-size: 0.8em;
	}

	&.is-primary {
		background-color: $primary;

		&:hover {
			background-color: lighten($primary, 3%);
		}
	}

	&.is-ghost {
		background-color: transparent;

		&:hover {
			background-color: $black-lighter;
		}
	}

	&.is-bad {
		background-color: $bad;

		&:hover {
			background-color: lighten($bad, 3%);
		}
	}

	&.is-good {
		background-color: $good;

		&:hover {
			background-color: lighten($good, 3%);
		}
	}

	&:disabled,
	&.is-disabled {
		cursor: default;
		background-color: $grey-darker;

		&:hover {
			background-color: $grey-darker;
		}
	}

	&.is-full-width {
		display: flex;
		width: 100%;
	}

	&.is-centered {
		justify-content: center;
	}
}

.buttons {
	display: flex;
	flex-direction: row;

	& > .button {
		&:not(:last-child) {
			margin-right: 0.5rem;
		}
	}
}
