input {
	display: block;
	font-size: 1rem;
	outline: 0.1em solid transparent;
	border: 0;
	border-radius: 0.15em;
	padding: calc(0.5em - 1px) calc(0.75em - 1px);
	color: $grey-lighter;
	background-color: $black-lighter;
	transition: all 0.1s ease;
	max-width: 100%;

	&.is-full-width {
		width: 100%;
	}

	&:focus {
		outline-color: $primary;
		color: $white;
		background-color: $black-lighter;
	}
}

label {
	display: flex;
	align-items: center;
	font-size: 0.9em;
	margin-bottom: 0.25em;
	text-transform: uppercase;
	color: $grey-light;
	padding-left: 0.4em;

	.ui-icon:first-child {
		margin-right: 0.25em;
	}
}

.field {
	display: block;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}
