* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: inherit;
}

input,
button {
	outline: none;
	border: none;
	margin: initial;
	padding: initial;
	background: none;
	display: inline;
	line-height: 1;
}
