.title {
	font-size: 2.5em;
	font-family: $alt-font;
	font-weight: bold;
	background: $fancy-gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading {
	font-size: 1.6em;
	font-weight: bold;
	color: $secondary;
}
