::selection {
	background: $primary;
	color: $white;
}

html {
	height: 100%;
	background-color: $black;

	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	min-height: 100%;
	color: $white;
	font-family: $main-font;
	font-size: 16px;
	line-height: 1.5;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font-family: $main-font;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: $monospace-font;
}

a {
	color: $link-color;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

hr {
	border: 0;
	background-color: $grey-dark;
	width: 100%;
	height: 1px;
}

img {
	height: auto;
	max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
	vertical-align: baseline;
}

small {
	font-size: 0.875em;
}

span {
	font-style: inherit;
	font-weight: inherit;
}

strong {
	font-weight: bold;
	color: $white-dark;
}

em {
	font-style: italic;
}

fieldset {
	border: none;
}

table {
	td,
	th {
		vertical-align: top;

		&:not([align]) {
			text-align: inherit;
		}
	}

	th {
		@extend strong;
	}
}
